<!DOCTYPE HTML>
<html lang="en">
<head>
  <title><%='Syntuition.org │ Home where intuition is synthesized!'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
</head>
<body  style="background-color:whitesmoke">
<div class="w3-row">
  <div class="w3-row">
  <div class="w3-container">
    <div class="w3-twothird">
      <h3 class="w3-center w3-redra w3-xlarge w3-arima"><%='Money donation for Syntuition registration.' %><sup class="w3-text-red w3-small"><%='Trending' %></sup></h3>
      <button onclick="move()" class="w3-button w3-cyan w3-text-white w3-reponsive" style="margin-bottom: 7px; position:relative; left:451px; border-top-right-radius: 19px; border-bottom-left-radius: 25px; border-top-left-radius: 25px;"><%='550.00'%> </button>
      <div id="joy" style="background-color: aqua; width:100%;" class="w3-round-xxlarge w3-mobile"><div id="bay" style=" width: 61%; height: 20px; background-color: brown; text-align: center; line-height: 20px; color: white;"><%= '61%' %></div></div>
      <p class="w3-right w3-red w3-center w3-medium w3-padding" style="border-bottom-right-radius: 19px; padding:4px; border-bottom-left-radius: 25px; border-top-left-radius: 25px; margin-top:7px;"><span style="font-size:14px;"><%='Registration' %><br> <%='900.00' %></span></p>
      <div class="">

        <article class="w3-relativity" style="font-size:14px;"><%='Syntuition relies on donation to keep
        the programs running, these funding come from different of sources viz.
        grants from local government, the community, membership dues,
        philanthropic foundations and company donations.'%> </article><br>
      </div>
      <div class="w3-card w3-half w3-padding w3-white w3-margin w3-mobile">
        <h3 class="w3-arima w3-center"><span style="border-bottom: solid;border-bottom-color: peru;"><%='Bank Tran' %></span><%='sfer' %></h3>
        <p class="w3-relativity"> <span style="color:black; font-size: 14px;"> <%'National'%> </span> <br> <%='Bank Name: Atlasmara'%><br><%='Account#:1603094838222'%><br><%='Country: Zambia'%><br><%='Chirwa road'%></p>
      </div>
      <div class="w3-card w3-third w3-margin w3-padding w3-white">
        <h3 class="w3-relativity w3-arima"><%='Me' %><span style="border-bottom: solid;border-bottom-color: cornflowerblue;"><%='mbers' %></span><%='hip' %></h3>
        <p class="w3-relativity w3-center" style="font-size:14px;"><%='By subscribing you get free access to biology, physics, chemistry 3D experiments and many more.'%> </p>
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-animate w3-button w3-center w3-cyan w3-relativity"><span style="color:white;"><%='Subscribe' %></span></button>
      </div>
      <br>
    </div>
    <div class="w3-third w3-section">
      <div class="w3-card w3-margin w3-brown w3-padding">
        <h2 class="w3-center w3-large w3-arima"><%='Co' %><span style="border-bottom: solid; border-bottom-color: chocolate;"><%='ntact U' %></span><%='s' %></h2>
        <address class="w3-center"><%='Info@syntuition.tk' %></address>
        <h6 class="w3-center"><%='+260 0211 02094938289' %></h6>
        <h6 class="w3-center"><%='Syntuition Headquarters' %><br><%='Cairo Road' %><br><%='P.O. Box 302983' %><br> <%='Lusaka, Zambia'%></h6>
      </div>
    </div>
    <script>
        function move() {
            let elem = document.getElementById("bay");
            let width = 1;
            let id = setInterval(frame, 100);

            function frame() {
                if (width >= 61) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    elem.innerHTML = width * 1  + '%';
                }
            }
        }
    </script>
  </div>
</div>
<div class="w3-row">
  <div class="w3-section">
    <div class="w3-half w3-center">
      <div class="w3-card w3-white w3-margin w3-padding">
        <p style="font-size:20px;"><span style="border-bottom: solid;border-bottom-color: mediumblue;" class="w3-arima"><%='Don' %></span><%='ate' %></p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="8JQRGJLM9ZFDC" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" style="width:150px; height:50px" />
          <img alt="" border="0" src="https://www.paypal.com/en_ZM/i/scr/pixel.gif" width="9" height="9" />
        </form>

        <p class="w3-relativity" style="font-size:14px;"><%='Help us improve and expand the continuity,
        creation and accessibility of SkyLab to everyone by donating any amount.
        Remember our young generation depends on sciences to move forward and changing the world '%></p>
      </div>
    </div>
    <div class="w3-half">
      <div class=" w3-white w3-margin w3-padding w3-card">
        <p style="font-size:20px;" class="w3-arima"><%='Don' %><span style="border-bottom: solid;border-bottom-color: brown;"><%='ation of Equipme'%></span><%='nts' %></p>
        <p class="w3-relativity w3-center" style="font-size:14px;"> <%='Be notified that donation of equipments at Syntuition is either done locally or
        internationally. We would like to express our gratitude to our donors in advanced for supporting us and help rendered to develop Syntuition. We
        would not be where we are right now without you.'%> </p>
        <p class=" w3-cyan w3-round-xxlarge w3-text-white w3-large w3-center w3-margin-top w3-margin-left" style="padding:10px;"><%='Donate Equipments'%></p>
      </div>

    </div>

  </div>
</div>
<script>
    function w3_open() {
        document.getElementById("good").style.width = "100%";
        document.getElementById("good").style.display = "block";
    }

    function w3_close() {
        document.getElementById("good").style.display = "none";
    }
</script>

</div>
</body>
</html>


