<!DOCTYPE html>
<html lang="en">
<head>
  <title><%='Syntuition.org │ Home where intuition is synthesized!'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
 </head>
<body>
<div class='w3-row w3-black '>
<div class="w3-center w3-margin-top"><span class="w3-xxlarge w3-arima w3-gradient"><%='Syntuitionists are in process of adding '%></br></span><span class="w3-xxlarge w3-arima"><%='1200'%></span><br><span class="w3-xlarge w3-arima"><%='Experimental simulations on top of the 3 that have been added.'%></span></div>
<div class="w3-third">
<div class="w3-center w3-xlarge w3-margin-top w3-margin-left w3-border w3-round-xlarge"><%='CHEMISTRY'%><span class="w3-xlarge"><span class="w3-text-green"><b><%=' ↑'%></b></span><%='6'%></span></div>
</div>
<div class="w3-third">
<div class="w3-center w3-xlarge w3-margin-top w3-margin-left w3-border w3-round-xlarge"><%='PHYSICS'%><span class="w3-xlarge"><%=' ↑3'%></span></div>
</div>
<div class="w3-third">
<div class="w3-center w3-xlarge w3-margin-top w3-margin-left w3-border w3-round-xlarge"><%='BIOLOGY'%><span class="w3-xlarge"><%=' ↑9'%></span></div>
</div>
  <br>
    </div>
<div class="w3-black">
<svg height="100" width='auto' fill="red">
  <path d="M 0 50 q 150 -50 303 0 q 200 50 350 0 q 200 -50 350 0 q 200 50 350 0" stroke="white" stroke-width="2" fill="none" />
</svg>
</div>
<div class="w3-row">
  <div class="w3-half w3-section w3-mobile">
    <div class="w3-card w3-padding w3-margin ">
      <h4 class="w3-text-brown w3-arima"><span style="border-bottom:solid;border-bottom-color:blueviolet; "><%='Partners' %></span></h4>
      <p class="w3-relativity w3-fist"  style="font-size:14px;"><%= 'Before Syntuition was established in 2019, it has worked
      with many partners like Cyan Animations,
        Hillside tech and synter individuals from different industries in
         order to be where it is today.'%> </p>
      <ul class="w3-text-cyan w3-mobile w3-bar">
        <li class="w3-bar-item w3-relativity" style="font-size:14px;" ><%= link_to 'Gbpax', 'http://www.gbpax.cf', :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'MischoolZambia', 'http://www.mischoolzambia.com', :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'Hillsidetech', '#', :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'Cyan Animation', '#', :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
      </ul>
    </div>
  </div>
  <div class="w3-half w3-section w3-mobile">
    <div class="w3-card w3-padding w3-margin">
      <h4 class= "w3-text-cyan w3-arima"><span style="border-bottom:solid;border-bottom-color:darkorange;" ><%='About' %></span></h4>
      <p class="w3-relativity w3-fist" style="font-size:14px;"><%= 'Syntuition organization(2018) was
        established in order to offer practicals to theoretical sciences taught in classrooms by making students realise
         the beauty of science '%><%=link_to 'Readmore»', {:controller => 'foundation', :action => 'origin'}  %> </p>
      <ul class="w3-text-cyan w3-mobile w3-bar w3-center">
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'Mission', {:controller => 'foundation', :action => 'mission'}, :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'Vision', {:controller => 'foundation', :action => 'vision'}, :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'History',{:controller => 'foundation', :action => 'about'}, :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
        <li class="w3-bar-item w3-relativity" style="font-size:14px;"><%= link_to 'Goal', {:controller => 'foundation', :action => 'goal'}, :style=>'text-decoration:none', :class=>'w3-hover-text-deep-orange' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="w3-row">
  <div class="w3-container">
    <h2 class="w3-text-black w3-mobile w3-center w3-arima " style="font-family: 'Tangerine', cursive;"><%='La' %><span style=""><%='ste' %></span><%='st' %></h2>
    <div class="w3-flex-container">
      <div class="w3-flex-containe w3-border w3-border-grey w3-round" style="height:190px;background-color: white;">
        <div class=" w3-fist" style="font-size:14px;line-height: 20px;"><%=image_tag 'Pippete Holder.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
          <article class="w3-medium w3-padding w3-hover-text-cyan w3-relativity" style="font-size:14px;"><span class="w3-large w3-text-brown w3-arima " ><%='Added Equipment' %></span><br/><%=link_to 'Pipette Holder',{:controller=>'confidential',:action=>'skylab',} %></article>
        </div>
      </div>
      <div class="w3-flex-containe w3-border w3-border-grey w3-round" style="height:190px;background-color: white;">
        <div class="w3-fist" style="font-size:14px;line-height: 20px;"> <%=image_tag 'labgrow.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
        <article class="w3-medium w3-padding w3-hover-text-cyan w3-relativity" style="font-size: 14px;"><span class="w3-large w3-text-cyan w3-arima" ><%='News'%></span><br/><%=link_to 'SkyLab is going offline',{:controller => 'updates', :action =>'news'} %></article></div>
      </div>
      <div class="w3-flex-containe w3-border w3-border-grey w3-round" style="height:190px;background-color: white;">
        <div class="w3-fist" style="font-size:14px;line-height: 20px;"> <%=image_tag 'Pippete Holder.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
          <article class="w3-medium w3-padding w3-hover-text-cyan w3-relativity" style="font-size:14px;"><span class="w3-large w3-text-red w3-arima"><%='Get Involved' %></span>
          <br/><%=link_to 'Join us today!',{:controller => 'confidential', :action =>'project'} %>
         </article>
         
                  </div>
         
      </div>
       <div class="w3-flex-containe w3-border w3-border-grey w3-round" style="height:190px;background-color: white;">
        <div class="w3-fist" style="font-size:14px;line-height: 20px;"> <%=image_tag 'labgrow.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
        <article class="w3-medium w3-padding w3-hover-text-cyan w3-relativity" style="font-size: 14px;"><span class="w3-large w3-text-cyan w3-arima" ><%='Developer of the week'%></span><br/><%=link_to 'Skylab modifications',{:controller => 'updates', :action =>'news'} %></article></div>
      </div>
      <hr/>
    </div>
  </div>

</div>

<div class="w3-row">
  <div class="w3-container w3-black">
    <h2 class="w3-center w3-text-khaki w3-card"><span class="w3-glowing w3-jumbo " style="font-family: 'Tangerine',
        cursive;"><%= image_tag 'synlab.ico' %><br><%='Science In SkyLab' %></span></h2>
    <div class="w3-panel w3-black">
      <div class="w3-half">
         <h2 class="w3-arima"><span style="border-bottom:solid;border-bottom-color:darkred;"><%='Interactive Anima' %></span><%='tions' %></h2>
      <div class="w3-card">
        <p class="w3-relativity" style="font-size: 14px;"><%='Inside the Laboratory or Outside the Laboratory,
        the user has all the controls or ability to interact with other objects' %> </p>
      </div>
      <ul>
        <li class="w3-relativity" style="font-size: 14px;"><%='Play Animations' %></li>
        <li class="w3-relativity" style="font-size: 14px;"><%='Interact With Animated Object' %></li>
        <li class="w3-relativity" style="font-size: 14px;"><%= 'Able to do calculations inside' %></li>
      </ul>
      </div>

    <div class="w3-half"  >
           <div class="w3-margin-top">
          <%= video_tag 'box.mp4',:width => '95%', :class=>'w3-center', :autoplay => 'true' %>
        </div>
    </div>
  </div>

    <div class="w3-panel w3-black">

      <div class="w3-half w3-right"  >
        <h2 class="w3-arima"><span style="border-bottom:solid;border-bottom-color:chocolate;"><%='Questions' %></span> <%='and Answers' %></h2>
        <div class="w3-card">
          <p class="w3-relativity" style="font-size: 14px;"><%='Question integrated inside are one way of testing users to answer
          queries about a particular topic or rules in science in order to know what they understand about nature. ' %></p>
        </div>
        <ul>
          <li class="w3-relativity" style="font-size: 14px;"><%='Multiple choice questions' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%= 'Provide answers for every wrong answer' %></li>
        </ul>
      </div>
      <div class="w3-half w3-left"  >
        <h2><span style="border-bottom:solid;border-bottom-color:chocolate;"><%='' %></span> <%='' %></h2>
 <%= video_tag 'box.mp4',:width => '95%', :class=>'w3-center  w3-animate-zoom', :autoplay => 'true',:loop=>'true' %>
        <div class="w3-card">
         
        </div>

      </div>
    </div>
    <div class="w3-panel w3-black">
           <div class="w3-half ">
                  <h2 class="w3-arima"><span style="border-bottom:solid;border-bottom-color:deepskyblue;"><%='VR Integ'%></span><%='ration'%></h2>
        <div class="w3-card">
          <p class="w3-relativity"  style="font-size:14px;"><%='This is a feature that is going to take time to be fully integrated. ' %></p>
        </div>
        <ul>
          <li class="w3-relativity" style="font-size: 14px;"><%='Interact with Objects' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%= 'Offer questions on experiments' %></li>
          <li  class="w3-relativity" style="font-size: 14px;"><%= 'Move a Character with Keyboard keys or Joysticks' %></li>
          <li  class="w3-relativity" style="font-size: 14px;"><%= 'Allows Virtual Reality integration' %></li>
        </ul>
      </div>
      <div class="w3-half"  >
           <div class="w3-card w3-margin-top">
       <%= video_tag 'box.mp4',:width => '95%', :class=>'w3-center w3-animate-zoom', :autoplay => 'true',:loop=>'true'%>
      </div>
      </div>


    </div>
    <div class="w3-panel w3-black">
    <div class="w3-half w3-right"  >
      <h2 class="w3-arima"><%='Out' %><span style="border-bottom:solid;border-bottom-color:gold;"><%='door Experi' %></span><%='ments' %></h2>
      <div class="w3-card">
        <p class="w3-relativity"  style="font-size:14px;"><%='SkyLab is real-time 3D virtual laboratory that is been created to help students interact with simulated equipments, tools and
                                        devices found in the real Labs of Zambian Schools.
      This Laboratory has both Biology and Chemistry lab and covers a wide range of experimental topics
                                    in Zambians new Science curriculum books.'%></p>
      </div>
      <ul>
        <li class="w3-relativity" style="font-size: 14px;"><%='Interact with Objects' %></li>
        <li class="w3-relativity" style="font-size: 14px;"><%='Offer questions on experiments' %></li>
        <li class="w3-relativity" style="font-size: 14px;"><%='Move a Character with Keyboard keys or Joysticks' %></li>
        <li class="w3-relativity" style="font-size: 14px;"><%='Allows Virtual Reality integration' %></li>
      </ul>
    </div>
      <div class="w3-half w3-margin-top w3-left">
       <%= video_tag 'box.mp4',:width => '95%', :class=>'w3-center', :autoplay => 'true' %>
      </div>
  </div>
    <div class="w3-panel">
      <h2 class="w3-center w3-jumbo w3-animations" style="font-family: 'Tangerine', cursive;">
        <%='Syn' %><span style="border-bottom: solid;border-bottom-color: orange;"><%='tuition Animation Stud' %></span><%= 'io' %></h2>

      <div class="w3-half" >
        <h2 class="w3-arima"><%='Film Production' %><sup class="w3-text-cyan w3-medium w3-arima"><%='Animations' %></sup></h2>
        <div class="w3-card">
          <p class="w3-relativity"  style="font-size:14px;"><%= 'Syntuition Animation Studio (Synstudio) was created
            in order to entertain and educated the public using 2D
            and 3D animated films. The program was lauched when screen
            play of \'Reviving Cassie\' was created, since then we have seen
            screen play of \'Anole man\' coming on board and \'On the other side\'
            they have not been released nor created using 3D and 2D software,
            what is happening in the background are scripts.'%> </p>
        </div>
        <ul>
          <li class="w3-relativity" style="font-size: 14px;"><%='3D Animations' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%='2D Animations' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%='VFX' %></li>
                  </ul>
      </div>
      <div class="w3-half">
        <div class="w3-card w3-margin-top w3-mobile w3-margin-left">
 <%= video_tag 'KCBricks.mp4',:width => '95%', :class=>'w3-center', :autoplay => 'true', :muted=>'true' %>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="w3-mobile w3-center w3-xxlarge w3-margin-left w3-relativity w3-arima"><%='P'%><span style="border-bottom:solid 4px;border-bottom-color:springgreen;"><%='artne' %></span><%='rs' %></h2>
<div class="w3-row">
  <div class="w3-col m2 w3-mobile">
    <div class="w3-card w3-margin">
           <div class="w3-container w3-center">
        <p class="w3-relativity" style="font-size: 14px;"><%='W3schools'%></p>
      </div>
    </div>
  </div>
  <div class="w3-col m2 w3-mobile">
    <div class="w3-card w3-margin">
           <div class="w3-container w3-center">
        <p class="w3-relativity" style="font-size: 14px;"><%='Syntekh' %></p>
      </div>
    </div>
  </div>
  <div class="w3-col m2 w3-mobile">
    <div class="w3-card w3-margin">
            <div class="w3-container w3-center">
        <p class="w3-relativity" style="font-size: 14px;"><%= 'Gbpax' %></p>
      </div>
    </div>
  </div>
  <div class="w3-col m2 w3-mobile">
    <div class="w3-card w3-margin">
      <div class="w3-container w3-center">
        <p class="w3-relativity" style="font-size: 14px;"> <%= 'MOH and MS&T'%></p>
      </div>
    </div>
  </div>
  <div class="w3-col m2 w3-mobile">
    <div class="w3-card w3-margin">
        <div class="w3-container w3-center">
        <p class="w3-relativity" style="font-size: 14px;"><%='Ruby' %></p>
      </div>
    </div>
  </div>
  <div class="w3-col m2 w3-mobile">
    <div class="w3-card w3-margin">
            <div class="w3-container w3-center">
        <p class="w3-relativity" style="font-size: 14px;"><%='KMP' %></p>
      </div>
    </div>
  </div>
</div>
<div class="w3-row">
  <div class="w3-container w3-black" style="background-color: black; background-image:linear-gradient(black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,grey)">
    <div class="w3-panel">
    <div class="w3-half">
      <div class="w3-card">
        <h2 class="w3-relativity w3-arima"><%='Headquarters' %><sup class="w3-text-lime w3-medium"><%='Home' %></sup></h2>
        <p class="w3-relativity" style="font-size: 14px;"><%= 'We are still mobile currently but we are in
          the process of looking for a place to rent in Lusaka, the
          Capital city of Zambia. As soon as the registration process
          is done, our location will be seen on our website.'%> </p>
        <ul>
          <li class="w3-relativity" style="font-size: 14px;"><%='Visitation' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%='Team' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%='Store' %></li>
          <li class="w3-relativity" style="font-size: 14px;"><%='Administration' %></li>
        </ul>
      </div>
    </div>
      <div class="w3-half">
        <div class="w3-card">
<%=image_tag('syn12.png',:class => 'w3-image') %>
        </div>
      </div>
    </div>
  </div>

</div>
 </body>
</html>
