<div class="w3-block w3-mobile w3-center w3-grey">
  <div class="w3-bar w3-block w3-grey w3-text-white w3-mobile w3-relativity ">
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-grey w3-text-white"><%='SYNTUITION' %></button>
      <div class="w3-dropdown-content w3-green w3-bar-block w3-card-4">
        <%=link_to 'SkyLab','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Spookey','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Animations','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Synextures','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to '3D Print','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'SynCom','#', class:'w3-bar-item w3-button',:style=>'text-decoration: none' %>
        <%=link_to 'SynArt','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>

      </div>
    </div>

    <div class="w3-dropdown-hover w3-center">
      <button class="w3-button"><%='|' %></button>
    </div>

    <div class="w3-dropdown-hover">
      <button class="w3-button"><%='ACTIVITIES'%></button>
      <div class="w3-dropdown-content w3-red w3-bar-block w3-card-4">
        <%=link_to 'Show reels',{:controller => 'software',:action =>'technology' },class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Awards','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Showcase Day','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'School Tours','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Syntuitions Birthday','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-center">
      <button class="w3-button"><%='|' %></button>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><%='ASSOCIATES'%></button>
      <div class="w3-dropdown-content w3-indigo w3-bar-block w3-card-4">
        <%=link_to 'Gbpax','https://www.gbpax.cf',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Cyan Animations','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Hillside Tech','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Mischool Zambia','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'KMP','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-center">
      <button class="w3-button w3-center"><%='|' %></button>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><%='REGISTRATION' %></button>
      <div class="w3-dropdown-content w3-blue w3-bar-block w3-card-4">
        <%=link_to 'Money Raised',{:controller => 'donate', :action => 'devfund'},class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-center">
      <button class="w3-button w3-center"><%='|' %></button>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><%='WORKPLACE' %></button>
      <div class="w3-dropdown-content w3-teal w3-bar-block w3-card-4">
        <%=link_to 'Animation Studio',{:controller => 'organization', :action => 'workplace'},class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Administration','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Workshop','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Lab test','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
        <%=link_to 'Store','#',class:'w3-bar-item w3-button' ,:style=>'text-decoration: none' %>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-center">
      <button class="w3-button w3-center"><%='|' %></button>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><%='SYNTRA' %></button>
      <div class="w3-dropdown-content w3-brown w3-bar-block w3-card-4">
        <%=link_to 'Team',{:controller => 'community',:action => 'team'},class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Jobs','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Policy','#',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
        <%=link_to 'Location','location',class:'w3-bar-item w3-button',:style=>'text-decoration: none'  %>
      </div>
    </div>
  </div>
</div>