<div class="w3-col m3 ">
  <div class="w3-padding w3-relativity w3-large w3-blue w3-center"><b><%='Foundation' %></b></div>
  <span style="border: 8px solid blue; border-width: 20px 20px 0px 20px; border-color: dodgerblue transparent transparent transparent; width:2px; position: absolute; down:2px; right:1160px; z-index: 1px; strong::before" class="w3-mobile"></span>
  <div class="w3-center w3-margin-top">
    <ul class="w3-ul w3-relativity ">
      <li class="w3-border-bottom w3-hover-red" ><%=link_to 'About','origin',class:" w3-text-black w3-hover-text-white ",:style=>'text-decoration: none' %></li>
      <li class="w3-border-bottom w3-hover-orange"><%=link_to 'Contact Us','contact',class:"w3-text-black w3-hover-text-white",:style=>"text-decoration: none;" %></li>
      <li class="w3-border-bottom w3-hover-yellow"> <%=link_to 'Goal','goal',class:"w3-text-black w3-hover-text-white",:style=>"text-decoration: none;"%></li>
      <li class="w3-border-bottom w3-hover-green"> <%=link_to 'History','history',class:"w3-text-black w3-hover-text-white",:style=>"text-decoration: none;"%></li>
      <li class="w3-border-bottom w3-hover-blue"> <%=link_to 'Location','location',class:"w3-text-black w3-hover-text-white ",:style=>"text-decoration: none;"%></li>
      <li class="w3-border-bottom w3-hover-indigo"> <%=link_to 'Mission','mission',class:"w3-text-black w3-hover-text-white ",:style=>"text-decoration: none;"%></li>
      <li class="w3-border-bottom w3-hover-khaki"> <%=link_to 'Policy','policy',class:"w3-text-black w3-hover-text-white ",:style=>"text-decoration: none;"%></li>
      <li class="w3-border-bottom w3-hover-teal"> <%=link_to 'Road Map','#',class:"w3-text-black w3-hover-text-white ",:style=>"text-decoration: none;"%></li>
      <li class="w3-border-bottom w3-hover-amber"> <%=link_to 'Vision','vision',class:"w3-text-black w3-hover-text-white ",:style=>"text-decoration: none;"%></li>
    </ul>
  </div>
</div>