<!DOCTYPE html>
<html lang="en">
<head>
  <title><%='Syntuition.org │ Home where intuition is synthesized!'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
</head>
<body>
<%= render :partial =>'abt' %>

<div class="w3-row ">
  <div class="w3-container" >
    <%= render :partial=>'abt2' %>
    <div class="w3-col m9">
      <div class="w3-container">
        <h2 class="w3-relativity w3-margin w3-text-brown w3-arima"><%='Goal' %></h2>
        <p class="w3-margin-left w3-ready"><%='Syntuition\'s goal is to provide
         users the best three dimension virtual Laboratory environment that is friendly, easily interactive
          and accessible to all parts of the world to every
           individual interested in learning science.
            With the money donated and generated,
             it goes out to developers who creates the virtual
              Lab in order to accommodate everyone.
               Thus, we urge everyone to get involved in creating everyones\'
                dream which is to learn practice Science in a virtual Lab so, join us today'%></p>

      </div>
    </div>
  </div>
</div>
</body>
</html>

