<!DOCTYPE html>
<html lang="en">
<head>
  <title><%='Syntuition.org │ Home where intuition is synthesized!'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
</head>
<body>
<%= render :partial =>'abt' %>

<div class="w3-row ">
  <div class="w3-container" >
    <%= render :partial=>'abt2' %>
    <div class="w3-col m9">
      <div class="w3-container">
        <h2 class="w3-relativity w3-margin w3-text-brown w3-arima"><%='Mission' %></h2>
        <p class="w3-margin-left w3-ready"><%='Our mission is to make a significant difference in virtual 3D world and to make every experiment or important
          phenomenon found in books of sciences accessible to everyone especially to students who are
           finding it difficult in applying
           theories to practicals in school where there are no laboratory facilities. '%></p>

      </div>
    </div>
  </div>
</div>
</body>
</html>



