<div class="w3-row">
  <div class="w3-container">
    <div class="w3-col m3 w3-right">
      <div class="w3-margin-right">
        <ul class="w3-ul">
          <li><%= 'Syntuition News' %></li>
          <li><%= 'Animations News' %></li>
          <li> <%= 'Spooky News' %></li>
          <li> <%= '3D World News' %></li>
          <li> <%= 'Syn Art News' %></li>
          <li> <%= 'SkyLab News' %></li>
          <li> <%= 'SynCom News' %></li>
          <li> <%= 'Synextures News' %></li>
          <li> <%= 'Other News' %></li>
        </ul>
      </div>
    </div>
    <div class="w3-col m9 w3-left">
      <div class="w3-margin-left">
        <h3 class="w3-center"><%= 'New Updates' %></h3>
      </div>
    </div>
  </div>
</div>