<html lang="en">
<head>
  <title><%='Syntuition.org │ Home where intuition is synthesized!'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
</head>
<body class="w3-relativity">
<div class="w3-row w3-black ">
  <div class="w3-section">
    <div class="w3-col m3 ">
      <ul class="w3-ul w3-relativity w3-hide-small">
        <li><%=link_to 'Studio','workplace' %></li>
        <li><%= 'Lab' %></li>
        <li><%= 'Store' %></li>
        <li><%=link_to 'Administration','admin' %></li>
        <li><%= 'Workshop' %></li>
      </ul>
    </div>
    <div class="w3-col m9">
      <div class="w3-col m5 w3-black">
        <p class="w3-margin-left w3-center w3-right-align w3-xxlarge w3-glowing w3-black w3-arima"><%= 'Syntuition' %> <br><%='Animation' %> <br><%= 'Studio' %></p>
      </div>
      <div class="w3-col m7">
        <h2 class="w3-margin-left w3-arima w3-gradient w3-mobile" ><%= 'HISTORY OF ANIMATION STUDIO' %></h2>
        <article class="w3-padding w3-relativity w3-medium w3-fist"><%= 'Syntuition animation studio was established in 2018 upon the creation of Reviving Cassie
        logline and screenplay' %></article>
      </div>
    </div>
  </div>
</div>
<div class="w3-row">
  <div class="w3-container">
    <h2 class="w3-center w3-arima"><%='DIVISIONS OF THE STUDIO'%></h2>
    <div class="w3-col m4">
       
      <div class="w3-border w3-border-grey w3-round w3-center w3-margin">
          <h3 class="w3-arima"><%='SOUND STUDIO'%></h3>
        <%=image_tag 'labgrow.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
     </div>
    </div>
       <div class="w3-col m4">
          <div class="w3-border w3-border-grey w3-round w3-center w3-margin">
          <h3 class="w3-arima"><%='VFX STUDIO'%></h3>
        <%=image_tag 'labgrow.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
     </div>
    </div>
          <div class="w3-col m4">
              <div class="w3-border w3-border-grey w3-round w3-center w3-margin">
          <h3 class="w3-arima"><%='ANIMATION CREATION STUDIO'%></h3>
        <%=image_tag 'labgrow.png', :alt=>'Pippete Holder',:class=>'w3-image' %>
     </div>
    </div>
    </div>
  </div>
<div class="w3-center w3-xxlarge w3-arima"><%='In Production'%><br>
<div class="w3-flex-container">
       <div class="w3-flex-containe">
    <%=1%>
        <p class="w3-text-black"><%='Reviving Cassie'%></p>
       </div>  
           </div>
<p class="w3-radial w3-transparent w3-center"></p>
</div>

<div class="w3-row">
  <div class="w3-container">
    <span class="w3-arima w3-xxlarge w3-border-bottom w3-border-bottom-blue"><%='SINCE 2018' %></span>
      <div class="w3-flex-container w3-arima">
       <div class="w3-flex-containe">
    <%='1'%>
        <p class="w3-text-black"><%='Reviving Cassie'%></p>
       </div>  
       <div class="w3-flex-containe">
    <%='2'%>
        <p class="w3-text-black"><%='Anole Man'%></p>
       </div> 
       <div class="w3-flex-containe">
    <%='3'%> <p class="w3-text-black"><%='Infinite Regress'%></p>
       </div>
       <hr/>
         <div class="w3-flex-containe">
    <%='4'%><p class="w3-text-black"><%='Dark Wolf'%></Dark></p>
       </div>  
      
      </div>
     
    </div>
  </div>
</body>
</html>

